body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:748px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u414_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:492px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u414 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:19px;
  width:680px;
  height:492px;
}
#u415 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:238px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u416_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:681px;
  height:2px;
}
#u416 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:50px;
  width:680px;
  height:1px;
}
#u417 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:676px;
  visibility:hidden;
  word-wrap:break-word;
}
#u418_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:461px;
}
#u418 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:51px;
  width:1px;
  height:460px;
}
#u419 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:222px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u420_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u420 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:61px;
  width:55px;
  height:16px;
}
#u421 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u422_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#169BD5;
}
#u422 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:28px;
  width:113px;
  height:23px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#169BD5;
}
#u423 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:109px;
  word-wrap:break-word;
}
#u424_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(22, 155, 213, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#169BD5;
}
#u424 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:28px;
  width:113px;
  height:23px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#169BD5;
}
#u425 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:109px;
  word-wrap:break-word;
}
#u426_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:23px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(22, 155, 213, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u426 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:28px;
  width:109px;
  height:23px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u427 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:105px;
  word-wrap:break-word;
}
#u428_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(22, 155, 213, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#169BD5;
}
#u428 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:28px;
  width:110px;
  height:23px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#169BD5;
}
#u429 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:106px;
  word-wrap:break-word;
}
#u430_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:23px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(22, 155, 213, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u430 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:61px;
  width:89px;
  height:23px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u431 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:85px;
  word-wrap:break-word;
}
#u432_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(22, 155, 213, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#169BD5;
}
#u432 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:94px;
  width:89px;
  height:23px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#169BD5;
}
#u433 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:85px;
  word-wrap:break-word;
}
#u434_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(22, 155, 213, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#169BD5;
}
#u434 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:28px;
  width:113px;
  height:23px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#169BD5;
}
#u435 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:109px;
  word-wrap:break-word;
}
#u436_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:573px;
  height:109px;
}
#u436 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:77px;
  width:573px;
  height:109px;
}
#u437 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:46px;
  width:569px;
  visibility:hidden;
  word-wrap:break-word;
}
#u438 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:98px;
  width:100px;
  height:16px;
}
#u439 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u438_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u440 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:118px;
  width:100px;
  height:16px;
}
#u441 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u440_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u442 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:134px;
  width:100px;
  height:16px;
}
#u443 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u442_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u444 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:150px;
  width:100px;
  height:16px;
}
#u445 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u444_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u446 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:166px;
  width:100px;
  height:16px;
}
#u447 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u446_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u448 {
  border-width:0px;
  position:absolute;
  left:586px;
  top:134px;
  width:40px;
  height:16px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u449_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:26px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u449 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:186px;
  width:299px;
  height:26px;
}
#u450 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:295px;
  word-wrap:break-word;
}
#u451_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:26px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u451 {
  border-width:0px;
  position:absolute;
  left:113px;
  top:186px;
  width:259px;
  height:26px;
}
#u452 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:255px;
  word-wrap:break-word;
}
#u453_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(22, 155, 213, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#169BD5;
}
#u453 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:127px;
  width:89px;
  height:23px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#169BD5;
}
#u454 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:85px;
  word-wrap:break-word;
}
#u455 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u456_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:568px;
  height:169px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u456 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:150px;
  width:568px;
  height:169px;
}
#u457 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:76px;
  width:564px;
  visibility:hidden;
  word-wrap:break-word;
}
#u458_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:563px;
  height:134px;
}
#u458 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:150px;
  width:563px;
  height:134px;
}
#u459 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:59px;
  width:559px;
  visibility:hidden;
  word-wrap:break-word;
}
#u460_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:27px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u460 {
  border-width:0px;
  position:absolute;
  left:539px;
  top:284px;
  width:140px;
  height:27px;
  font-family:'Arial Pogrubiony', 'Arial Normalny', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u461 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
