body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:417px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:812px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:812px;
}
#u1 {
  position:absolute;
  left:2px;
  top:398px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:40px;
  top:110px;
  width:320px;
  height:480px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:480px;
}
#u3 {
  position:absolute;
  left:2px;
  top:232px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:60px;
  top:710px;
  width:70px;
  height:40px;
}
#u4_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
  font-family:'Arial Normalny', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u5 {
  position:absolute;
  left:40px;
  top:110px;
  width:320px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:19px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:40px;
  top:139px;
  width:60px;
  height:21px;
  font-family:'Arial Pogrubiony', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:21px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:100px;
  top:137px;
  width:250px;
  height:25px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:25px;
  font-family:'Arial Normalny', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10 {
  position:absolute;
  left:40px;
  top:170px;
  width:60px;
  height:21px;
  font-family:'Arial Pogrubiony', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:21px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:100px;
  top:166px;
  width:250px;
  height:25px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:25px;
  font-family:'Arial Normalny', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13 {
  position:absolute;
  left:50px;
  top:201px;
  width:300px;
  height:29px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:29px;
  font-family:'Arial Pogrubiony', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u14 {
  position:absolute;
  left:40px;
  top:233px;
  width:320px;
  height:10px;
}
#u14_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u15 {
  position:absolute;
  left:40px;
  top:240px;
  width:320px;
  height:19px;
  font-size:16px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:19px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:50px;
  top:474px;
  width:300px;
  height:29px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:29px;
  font-family:'Arial Pogrubiony', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u18 {
  position:absolute;
  left:50px;
  top:264px;
  width:100px;
  height:15px;
}
#u19 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u18_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u20 {
  position:absolute;
  left:50px;
  top:295px;
  width:100px;
  height:15px;
}
#u21 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u20_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u22 {
  position:absolute;
  left:50px;
  top:325px;
  width:100px;
  height:15px;
}
#u23 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u22_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u24 {
  position:absolute;
  left:50px;
  top:358px;
  width:100px;
  height:15px;
}
#u25 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u24_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u26 {
  position:absolute;
  left:50px;
  top:388px;
  width:100px;
  height:15px;
}
#u27 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u26_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u28 {
  position:absolute;
  left:50px;
  top:419px;
  width:100px;
  height:15px;
}
#u29 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u28_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u30 {
  position:absolute;
  left:50px;
  top:449px;
  width:100px;
  height:15px;
}
#u31 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u30_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u32 {
  position:absolute;
  left:140px;
  top:259px;
  width:80px;
  height:25px;
}
#u32_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  font-family:'Arial Normalny', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u33 {
  position:absolute;
  left:230px;
  top:264px;
  width:20px;
  height:16px;
}
#u34 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u35 {
  position:absolute;
  left:260px;
  top:259px;
  width:80px;
  height:25px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  font-family:'Arial Normalny', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u36 {
  position:absolute;
  left:140px;
  top:290px;
  width:80px;
  height:25px;
}
#u36_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  font-family:'Arial Normalny', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u37 {
  position:absolute;
  left:230px;
  top:294px;
  width:100px;
  height:16px;
}
#u38 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u39 {
  position:absolute;
  left:260px;
  top:290px;
  width:80px;
  height:25px;
}
#u39_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  font-family:'Arial Normalny', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u40 {
  position:absolute;
  left:140px;
  top:320px;
  width:80px;
  height:25px;
}
#u40_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  font-family:'Arial Normalny', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u41 {
  position:absolute;
  left:230px;
  top:325px;
  width:100px;
  height:16px;
}
#u42 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u43 {
  position:absolute;
  left:260px;
  top:320px;
  width:80px;
  height:25px;
}
#u43_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  font-family:'Arial Normalny', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u44 {
  position:absolute;
  left:140px;
  top:353px;
  width:80px;
  height:25px;
}
#u44_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  font-family:'Arial Normalny', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u45 {
  position:absolute;
  left:230px;
  top:358px;
  width:100px;
  height:16px;
}
#u46 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u47 {
  position:absolute;
  left:260px;
  top:353px;
  width:80px;
  height:25px;
}
#u47_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  font-family:'Arial Normalny', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u48 {
  position:absolute;
  left:140px;
  top:384px;
  width:80px;
  height:25px;
}
#u48_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  font-family:'Arial Normalny', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u49 {
  position:absolute;
  left:230px;
  top:388px;
  width:100px;
  height:16px;
}
#u50 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u51 {
  position:absolute;
  left:260px;
  top:384px;
  width:80px;
  height:25px;
}
#u51_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  font-family:'Arial Normalny', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u52 {
  position:absolute;
  left:140px;
  top:414px;
  width:80px;
  height:25px;
}
#u52_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  font-family:'Arial Normalny', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u53 {
  position:absolute;
  left:230px;
  top:419px;
  width:100px;
  height:16px;
}
#u54 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u55 {
  position:absolute;
  left:260px;
  top:414px;
  width:80px;
  height:25px;
}
#u55_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  font-family:'Arial Normalny', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u56 {
  position:absolute;
  left:140px;
  top:444px;
  width:80px;
  height:25px;
}
#u56_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  font-family:'Arial Normalny', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u57 {
  position:absolute;
  left:230px;
  top:449px;
  width:100px;
  height:16px;
}
#u58 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u59 {
  position:absolute;
  left:260px;
  top:444px;
  width:80px;
  height:25px;
}
#u59_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:25px;
  font-family:'Arial Normalny', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u60 {
  position:absolute;
  left:40px;
  top:388px;
  width:320px;
  height:202px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:202px;
}
#u61 {
  position:absolute;
  left:2px;
  top:93px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:40px;
  top:388px;
  width:320px;
  height:202px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:202px;
}
#u63 {
  position:absolute;
  left:2px;
  top:93px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:40px;
  top:388px;
  width:320px;
  height:202px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:202px;
}
#u65 {
  position:absolute;
  left:2px;
  top:93px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:40px;
  top:388px;
  width:320px;
  height:202px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:202px;
}
#u67 {
  position:absolute;
  left:2px;
  top:93px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:40px;
  top:388px;
  width:320px;
  height:202px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:202px;
}
#u69 {
  position:absolute;
  left:2px;
  top:93px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:40px;
  top:388px;
  width:320px;
  height:202px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:202px;
}
#u71 {
  position:absolute;
  left:2px;
  top:93px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:40px;
  top:388px;
  width:320px;
  height:202px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:202px;
}
#u73 {
  position:absolute;
  left:2px;
  top:93px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:40px;
  top:388px;
  width:320px;
  height:202px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:202px;
}
#u75 {
  position:absolute;
  left:2px;
  top:93px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:40px;
  top:388px;
  width:320px;
  height:202px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:202px;
}
#u77 {
  position:absolute;
  left:2px;
  top:93px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:40px;
  top:388px;
  width:320px;
  height:202px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:202px;
}
#u79 {
  position:absolute;
  left:2px;
  top:93px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:40px;
  top:388px;
  width:320px;
  height:202px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:202px;
}
#u81 {
  position:absolute;
  left:2px;
  top:93px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:40px;
  top:388px;
  width:320px;
  height:202px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:202px;
}
#u83 {
  position:absolute;
  left:2px;
  top:93px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:40px;
  top:388px;
  width:320px;
  height:202px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:202px;
}
#u85 {
  position:absolute;
  left:2px;
  top:93px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:40px;
  top:388px;
  width:320px;
  height:202px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:202px;
}
#u87 {
  position:absolute;
  left:2px;
  top:93px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:40px;
  top:388px;
  width:320px;
  height:202px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:202px;
}
#u89 {
  position:absolute;
  left:2px;
  top:93px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:40px;
  top:388px;
  width:320px;
  height:202px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:202px;
}
#u91 {
  position:absolute;
  left:2px;
  top:93px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:39px;
  top:246px;
  width:322px;
  height:207px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:207px;
}
#u93 {
  position:absolute;
  left:2px;
  top:96px;
  width:318px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:39px;
  top:246px;
  width:322px;
  height:207px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:207px;
}
#u95 {
  position:absolute;
  left:2px;
  top:96px;
  width:318px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:39px;
  top:246px;
  width:322px;
  height:207px;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:207px;
}
#u97 {
  position:absolute;
  left:2px;
  top:96px;
  width:318px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:39px;
  top:246px;
  width:322px;
  height:207px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:207px;
}
#u99 {
  position:absolute;
  left:2px;
  top:96px;
  width:318px;
  word-wrap:break-word;
}
